<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudioPad.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <StudioPad.My.MySettings>
            <setting name="HTML5" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html lang='pt-br'&gt;&lt;!-- LINGUAGEM PORTUGUÊS BRASIL --&gt;
&lt;head&gt;
    &lt;title&gt;Em branco&lt;/title&gt;
    &lt;meta charset='UTF-8'&gt;&lt;!-- DEFINE OS CARACTERES ESPECIAIS --&gt;
    &lt;meta name='viewport' content='width=device-width, initial-scale=1.0'&gt;&lt;!-- DEFINE A VISIBILIDADE DO MOBILE (RESPONSIVE) --&gt;
    &lt;link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'&gt;&lt;!-- TRABALHO W3.CSS VERSÃO 4 --&gt;
    &lt;link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'&gt;&lt;!-- TRABALHO ICON FONT AWESOME VERSÃO 4 --&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div class='w3-bar w3-blue'&gt;
        &lt;div class='w3-bar-item'&gt;&lt;i onclick='goBack()' class='fa fa-arrow-left'&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;script&gt;
//back
function goBack(){
    window.history.back()
}
&lt;/script&gt;
&lt;/html&gt;
</value>
            </setting>
            <setting name="ativado" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempMasOuMenos" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;title&gt;+OU-&lt;/title&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
&lt;link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"&gt;
&lt;link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css"&gt;
&lt;body style="max-width:400px;margin:16px;border:1px solid #ccc"&gt;

&lt;header class="w3-container w3-card-4 w3-theme"&gt;
  &lt;h1&gt;Movies&lt;/h1&gt;
&lt;/header&gt;

&lt;div class="w3-panel"&gt;
&lt;div class="w3-row"&gt;
  &lt;div class="w3-col s3"&gt;
    &lt;img src="img_avatar.jpg" style="width:100%"&gt;
  &lt;/div&gt;
  &lt;div class="w3-col s9 w3-container"&gt;
    &lt;h3&gt;Frozen&lt;/h3&gt;
    &lt;p&gt;The response to the animations was ridiculous.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;  
&lt;hr&gt;
&lt;div class="w3-row"&gt;
  &lt;div class="w3-col s3"&gt;
    &lt;img src="img_avatar.jpg" style="width:100%"&gt;
  &lt;/div&gt;
  &lt;div class="w3-col s9 w3-container"&gt;
    &lt;h3&gt;The Fault in Our Stars&lt;/h3&gt;
    &lt;p&gt;Touching, gripping and genuinely well made.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;hr&gt;
&lt;div class="w3-row"&gt;
  &lt;div class="w3-col s3"&gt;
    &lt;img src="img_avatar.jpg" style="width:100%"&gt;
  &lt;/div&gt;
  &lt;div class="w3-col s9 w3-container"&gt;
    &lt;h3&gt;The Avengers&lt;/h3&gt;
    &lt;p&gt;A huge success for Marvel and Disney.&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;

&lt;footer class="w3-container w3-theme-l2" style="position:relative"&gt;
  &lt;a class="w3-btn w3-xlarge w3-circle w3-theme-action w3-right" style="position:absolute;top:-28px;right:16px;"&gt;+&lt;/a&gt;
  &lt;p&gt;Copyright 2021&lt;/p&gt;
&lt;/footer&gt;

&lt;div class="w3-container w3-theme-dark w3-xlarge"&gt;«&lt;span class="w3-right"&gt;»&lt;/span&gt;&lt;/div&gt;

&lt;/body&gt;
&lt;/html&gt; </value>
            </setting>
            <setting name="SwitchJS" serializeAs="String">
                <value>switch(expression){
  case x:
    // code block
    break;
  case y:
    // code block
    break;
  default:
    // code block
}</value>
            </setting>
        </StudioPad.My.MySettings>
    </userSettings>
</configuration>